<% cache article do %>
<article>
  <header>
    <%= link_to image_tag(article.minipic.url(:list), class: 'article-list-image', alt: article.title), article %>
    <h2><%= link_to article.title, article %></h2>
  </header>

  <%= simple_format(article.blurb) %>
  <%= article.byline %>
</article>
<% end %>
