<section id="covers">
<% cache @covers do %>
  <%= render @covers %>
<% end %>
</section>
<section id="articles">
<h1><%= t('articles.recents') %></h1>
<% cache @articles do %>
  <%= render @articles %>
<% end %>
</section>
